<header id="header" class="masthead" role="banner">
  <div class="wrapper gutter grid-flex-v-top">
    <a href="{{site.baseurl}}{% if page.lang == 'fr' %}fr{% else %}/{% endif %}" class="logo">
      {% if page.url == '/' or page.url == '/fr' %}
        <h1>
      {% else %}
        <strong>
      {% endif %}
        <img src="{{site.baseurl}}/images/{% if page.lang == 'fr' %}logo-iap-fr{% else %}logo-iap{% endif %}.svg" alt="{% if page.lang == 'fr' %}Plan d'action autochtones{% else %}Indigenous Action Plan{% endif %}">
      {% if page.url == '/' or page.url == '/fr' %}
        </h1>
      {% else %}
        </strong>
      {% endif %}
    </a>
    {% include utilities/nav.liquid class="nav push-l-auto" %}
    {% include utilities/lang-select.liquid %}
    {% include patterns/nav-toggle.liquid %}
  </div>
</header>