<div class="hero-milestone milestone-hoop-{{ include.hoop | default: "1" }}">
  <div class="hero-content wrapper gutter">
    <h1 class="headline push-0">{{ include.headline }}</h1>
    <p>{{ include.date }}</p>
  </div>
</div>