<div class="hero">
  <div class="hero-content wrapper gutter">
    <p class="hoop-number push-0">{{ page.title }}</p>
    <h1 class="headline">
      {{ include.headline }}: 
      <span class="headline-byline">{{ include.byline }}</span>
    </h1>
  </div>
</div>