<div class="hero">
  <div class="hero-content wrapper gutter">
    <h1 class="headline">
      <span class="hoop-number block push-0">{{ page.title }}</span>
      {{ include.headline }}: 
      <span class="headline-byline">{{ include.byline }}</span>
    </h1>
  </div>
</div>