<ol class="skip-links">
  <li><a class="skip-link" href="#nav">Skip to navigation</a></li>
  <li><a class="skip-link" href="#main">Skip to main content</a></li>
  <li><a class="skip-link" href="#footer">Skip to footer</a></li>
</ol>