<a class="to-top" href="#top" aria-label="Return to top of page.">
  {% include graphics/to-top.liquid %}
  <img class="to-top-icon" src="{{site.baseurl}}/images/to-top-arrow.svg" alt="">
  <span class="to-top-text">To Top</span>
</a>