<a class="to-top" href="#top" aria-label="Return to top of page.">
  <img class="to-top-bg" src="/images/to-top-bg.svg" alt="">
  <img class="to-top-icon" src="/images/to-top-arrow.svg" alt="">
  <span class="to-top-text">To Top</span>
</a>