---
layout: default
title: Milestones
transPage: /fr/etape-importante
---
{%- capture msCheck -%}{% for milestone in site.milestones %}{%- if milestone.title -%}1{% break %}{%- endif -%}{% endfor%}{%- endcapture -%}

{% include patterns/hero-basic.liquid headline=page.title %}

{% assign milestones_in_order = site.milestones | sort: "order" %}
<section id="milestones" tabindex="0">
  <div class="wrapper gutter pad-t-b-6 grid-m-2 grid-l-3">
    {%- if msCheck != '' -%}
    {% for milestone in milestones_in_order reversed %}
      {% include patterns/milestone.liquid hoopRef=milestone.hoopRef pubDate=milestone.pubDate title=milestone.title content=milestone.content url=milestone.url %}
    {% endfor %}
    {%- else -%}
    <p>No updates have been released.</p>
    {%- endif -%}
  </div>
</section>

{% include patterns/hoop-graphic-deco.liquid hoopNum="6" %}