---
layout: default
title: Updates
transPage: /fr/mise-a-jour
---
{%- capture msCheck -%}{% for milestone in site.milestones limit:4 %}{%- if milestone.title -%}1{% break %}{%- endif -%}{% endfor%}{%- endcapture -%}
{%- capture reportCheck -%}{% for report in site.reports limit:4 %}{%- if report.title -%}1{% break %}{%- endif -%}{% endfor%}{%- endcapture -%}

{% include patterns/hero-basic.liquid headline='Indigenous <span class="break-m">Action</span> Plan Updates' %}

{% assign milestones_in_order = site.milestones | sort: "order" %}
<section id="milestones" {% if msCheck != '' %}class="section-deco" {% endif %}tabindex="0">
  <div class="wrapper gutter pad-t-b-6 grid-m-3">
    <div class="col">
      <h2 class="heading-deco">Milestones</h2>
    </div>
    <div class="col-r-2-3 grid-updates">
      {%- if msCheck != '' -%}
        {% for milestone in milestones_in_order reversed limit:4 %}
        <div class="col-update push-2">
          <div class="milestone-header-{{ milestone.hoopRef }} gutter-1-2 pad-t-3 push">
            <p class="push-1-2">{{ milestone.pubDate }}</p>
          </div>
          <h3 class="push-1-2">{{ milestone.title }}</h3>
          {{ milestone.content | truncate: 200 | markdownify }}
          <a class="bold block text-1-1-4" href="{{ milestone.url }}">Read More</a>
        </div>
        {% endfor %}
      {%- else -%}
        <p>No updates have been released.</p>
      {%- endif -%}
    </div>
    <div class="col-r-2-3 pad-t-2">
      <a class="text-1-3-4 bold" href="/milestones">More milestones.</a>
    </div>
  </div>
</section>

{% assign reports_in_order = site.reports | sort: "order" %}
<section id="reports" tabindex="0">
  <div class="wrapper gutter pad-t-b-6 grid-m-3">
    <div class="col">
      <h2 class="heading-deco">Reports</h2>
    </div>
    <div class="col-r-2-3 grid-updates">
      {%- if reportCheck != '' -%}
        {% for report in reports_in_order reversed limit:2 %}
        <a class="col-update push-2" href="/images/{{ report.pdfLink }}">
          <div class="report-img push">
            <img src="{{ report.coverImg }}" alt="{{ report.title }}">
          </div>
          <h3 class="push-1-2">{{ report.title }}</h3>
          <p>{{ report.pubDate }}</p>
        </a>
        {% endfor %}
      {%- else -%}
        <p>No updates have been released.</p>
      {%- endif -%}
    </div>
    <div class="col-r-2-3 pad-t-2">
      <a class="text-1-3-4 bold" href="/reports">More reports.</a>
    </div>
  </div>
</section>

{% include patterns/hoop-graphic-deco.liquid hoopNum="5" %}