.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  left: 1rem;
  z-index: 10000; /* To make sure they're always on top */
  background-color: var(--color-red);
  border: 0;
  border-radius: 0 0 .75rem .75rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}