<nav id="{{ include.id | default: 'nav' }}" class="{{ include.class | default: 'nav' }}">
  <ul>
    <li><a href="/hoop-1">Hoop 1</a></li>
    <li><a href="/hoop-2">Hoop 2</a></li>
    <li><a href="/hoop-3">Hoop 3</a></li>
    <li><a href="/hoop-4">Hoop 4</a></li>
    <li><a href="/updates">Updates</a></li>
  </ul>
</nav>