---
layout: default
title: Étape importante
transPage: /milestones
lang: fr
---
{%- capture msCheck -%}{% for etape-importante in site.etape-importante limit:4 %}{%- if etape-importante.title -%}1{% break %}{%- endif -%}{% endfor%}{%- endcapture -%}

{% include patterns/hero-basic.liquid headline=page.title %}

{% assign etape-importante_in_order = site.etape-importante | sort: "order" %}
<section id="milestones" tabindex="0">
  <div class="wrapper gutter pad-t-b-6 grid-m-2 grid-l-3">
    {%- if msCheck != '' -%}
    {% for milestone in etape-importante_in_order reversed %}
      {% include patterns/milestone.liquid hoopRef=milestone.hoopRef pubDate=milestone.pubDate title=milestone.title content=milestone.content url=milestone.url %}
    {% endfor %}
    {%- else -%}
    <p>No updates have been released.</p>
    {%- endif -%}
  </div>
</section>

{% include patterns/hoop-graphic-deco.liquid hoopNum="6" %}
