---
layout: default
---
{% include patterns/hero-milestone.liquid headline=page.title date=page.pubDate hoop=page.hoopRef %}
<section class="article-content wrapper gutter pad-t-b-4" tabindex="0">
  <div class="wrapper-narrow-no-center">
    {{ content }}
  </div>
</section>